$white-color: #ffffff;
$black-color: #000000;
$supernova-color: #f9ce01;
$mine-shaft-color: #303030;
$off-white-color: #f0f0f0;
$off-black-color: #0a0a0a;
$gray-color: #a5a9af;
$shuttle-gray-color: #55606e;
