$primary-color: #ffffff;
$black-color: #000000;
$btn-color: #f9ce01;
$paragraph-color: #303030;
$div-who-we-are: #f0f0f0;
$btn-learn-color: #0a0a0a;
$copyright-color: #a5a9af;
$btn-navigate: #55606e;
